@tailwind base;
@tailwind components;
@font-face {
    font-family: "mont";
    src: url("/fonts/mont/MontHeavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "mont";
    src: url("/fonts/mont/MontRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "mont";
    src: url("/fonts/mont/MontSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "mont";
    src: url("/fonts/mont/MontBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
@tailwind utilities;
